@model IEnumerable<Bus>
@{
    ViewData["Title"] = "Перегляд автобусів";
}

<br />
<h2 class="text-center"><strong>Усі автобуси</strong></h2>
<br />
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}
<table class="table">    
    <tr><th>Make</th><th>Model</th><th>Production Year</th></tr>
    @foreach (var bus in Model)
    {
    <tr>
        <td>@bus.Make</td>
        <td>@bus.Model</td>
        <td>@bus.ProductionYear</td>

        <td>
            <a class="btn btn-sm btn-primary" asp-action="EditBus" asp-route-id="@bus.Id">Редагувати</a>
        </td>
        <td>
            <form asp-action="DeleteBus" asp-route-id="@bus.Id" method="post">
                <button type="submit" class="btn btn-sm btn-danger">
                    Видалити
                </button>
            </form>
        </td>
    </tr>
    }
</table>