@model ActivityVM;
@{
    ViewData["Title"] = "Активність";
}

<br />
<h2>Перегляд актиності працівника @Model.Name</h2>
<br />

<table class="table">
    <tr><th>Клієнт</th><th>Напрямок</th><th>Ціна</th><th>Дата</th></tr>
    @foreach (var ticket in Model.Tickets)
    {
        <tr>
            <td>@ticket.Client.FirstName @ticket.Client.LastName</td>
            <td>@ticket.Route.Departure.City - @ticket.Route.Arrival.City</td>
            <td>@ticket.Route.Price</td>
            <td>@ticket.SaleDate</td>
        </tr>
    }
</table>
